@media(max-width:880px) {
    .navigation {
        grid-template-columns: repeat(3, auto);
    }

    .navigation ul {
        display: none;
    }

    .link_navigation {
        justify-self: center;
        padding: 4px 8px;
    }

    .menu_icon {
        justify-self: flex-end;
    }

}

@media (min-width:880px) {
    .menu_icon {
        display: none;
    }

}

@media (max-width:1200px) {
    .number {
        flex-direction: column;
        margin-top: 29px;

    }

    .order {
        padding: 10px 140px;
        margin-top: -46px;
    }

    .row_grid_food_products {
        display: grid;
        grid-template-columns: repeat(2, 370px);
        gap: 30px;
        justify-content: center;
    }

}

@media(max-width:880px) {
    .main_header {
        display: grid;
        grid-template-rows: auto 1fr;
        justify-content: center;
    }

    .container_left_header {
        text-align: center;
    }

    .container_left_header h1 {
        font-size: 30px;
        font-weight: 400;
    }

    .container_left_header p {
        color: var(--color_504F4F);
        font-weight: 400;
        font-size: 16px;

    }

    .order_food_mobile {}

    .order_food_desctop {
        display: none;
    }

    .number {
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
        align-items: center;
        justify-content: center;


    }

    .price {
        color: var(--color_323232);
        font-size: 15px;
        margin-top: 36px;
    }

    .order {
        padding: 9px 18px;
        font-size: 24px;
        margin: 0px;
    }

    .row_grid_food_products {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        gap: 30px;
        justify-content: center;
    }
}

@media(min-width:880px) {
    .order_food_mobile {
        display: none;
        margin-top: 7rem;
        text-align: center;
    }

}

@media(max-width:780px) {
    .row_grid_food_products {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        gap: 30px;
        justify-content: center;
    }

    .image_food_grid img {
        padding: 24px;
        margin-left: 5px;
        width: 16rem;
    }
}

@media(max-width:650px) {
    .row_grid_food_products {
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }

    .image_food_grid img {
        padding: 2px;
        margin-left: 18px;
        width: 18rem;
    }
}

