* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    padding-bottom: 8rem;
}

:root {
    --color_fff: #fff;
    --color_C90000: #C90000;
    --color_FFC300: #FFC300;
    --color_7D7C7C: #7D7C7C;
    --color_323232: #323232;
    --color_504F4F: #504F4F;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;
    --color_FFFDE6: #FFFDE6;

}

a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style: none;
}


@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}

.header_fearstpage {
    margin-top: 1rem;
}

.container_site {
    max-width: 1170px;
    margin: 0 auto;
}

.navigation {
    display: grid;
    justify-content: center;
    grid-template-columns: 58px 635px 187px;
    justify-content: space-between;
    align-items: center;
}

.navigation img {
    width: 35px;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.navigation ul li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.navigation ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
}

.navigation ul li a {
    font-weight: 400;
}

.link_navigation a {
    border: 1px solid var(--color_C90000);
    padding: 9px 16px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 16px;
}

.link_navigation a:not(:last-child) {
    color: var(--color_C90000);

}

.link_navigation a:not(:first-child) {
    background-color: var(--color_C90000);
    color: var(--color_fff);
}


.main_header {
    display: flex;
    align-content: center;

}

.container_left_header {
    align-self: flex-end;

}

.container_left_header h1 {
    font-weight: 600;
    font-size: 62px;
    color: var(--color_C90000);
    line-height: 76px;

}

.container_left_header p {
    color: var(--color_504F4F);
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;

}

.price {
    color: var(--color_323232);
    font-size: 26px;
    margin-top: 58px;

}

.price :not(:first-child) {
    font-size: 26px;
    font-weight: bolder;
}

.price :not(:last-child) {
    font-size: 19px;
    font-weight: lighter;
}

.number {
    display: flex;
    margin-top: 28px;
    gap: 64px;
}

.number_food {
    display: flex;
    align-items: center;
    border: 1px solid rgb(241, 241, 241);
    padding: 2px 25px;
    font-size: 29px;
    gap: 12px;
    border-radius: 100px;
    background: var(--color_fff);
    box-shadow: 0px 5px 17px -4px rgba(112, 112, 112);
    align-self: center;
}

.order {
    font-weight: 600;
    font-size: 24px;
    padding: 15px 30px;
    background-color: var(--color_FFC300);
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin: -4px;
}

.order:not(:last-child) {
    color: var(--color_323232);
}

.section_food {
    margin: 51px;
}

.title_section_food h4 {
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    width: max-content;

}

.line_button {
    width: 100%;
    height: 9px;
    background-color: var(--color_FFF6A3);
    position: absolute;
    z-index: -1;
    top: 44px;
}

.row_botton_category {
    display: flex;
    padding: 14px 2px;
    align-items: center;
    gap: 19px;
}

.row_botton_category button {
    border: 1px solid #e3e3e3;
    border-radius: 100px;
    height: 40px;
    width: 140px;
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
}

.row_grid_food_products {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 30px;
}


.item_food_grid {
    border: 1px solid var(--color_E3E3E3);
    border-radius: 12px;
    padding: 16px;
    position: relative;
}

.image_food_grid img {
    padding: 7px;
    margin-left: 35px;
    width: 17rem;
}

.button_image {
    position: absolute;
    width: 100%;
    height: 110px;
    background-color: var(--color_FFF6A3);
    border-radius: 12px;
    z-index: -1;
    bottom: 187px;
    margin-left: -16px;
}


.info_item_food_grid {
    margin-top: 11px;

}

.info_item_food_grid h5 {
    font-size: 23px;
    color: var(--color_323232);
    font-weight: 600;
}

.info_item_food_grid p {
    font-size: 14px;
    color: var(--color_504F4F);
    font-weight: 400;
    margin-top: 5px;
    line-height: 100%;
}

.star {
    margin: 12px 0 20px 0;
}

.button_food_grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

.button_food_grid span {
    color: var(--color_323232);
    font-size: 24px;
    font-weight: 600;
}

.button_food_grid button {
    background-color: var(--color_C90000);
    border-radius: 8px;
    border: none;
    padding: 10px;

}

.section_off {
    margin-top: 8rem;
}

.section_off .title_section_food {
    display: flex;
    justify-content: center;
}

.container_off {
    display: grid;
    grid-template-columns: repeat(3, 408px);
    justify-content: center;
    align-content: center;
    align-items: center;

}

.grid_food_off {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: repeat(3, 160px);
    height: 330px;
    width: 382px;
    border: 1px solid var(--color_E3E3E3);
    border-radius: 20px;
    background-color: var(--color_E3E3E3);
    padding: 24px;
    transition: all 0.3s ease;
    align-content: center;
}

.title_sm_item_food_off span {
    font-size: 16px;
    font-weight: 400;
    color: var(--color_323232);
}

.text_combo h6 {
    font-size: 32px;
    font-weight: 600;
    color: var(--color_C90000);
    width: 239px;
    height: 48px;
    line-height: 100%;
}

.text_combo p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color_504F4F);
    line-height: 24px;
}

.price_off {
    display: flex;
    gap: 8px;
    align-items: center;
}

.price_off dl {
    font-size: 16px;
    font-weight: 600;
    color: var(--color_7D7C7C);
    margin-top: 19px;

}

.price_off span {
    font-size: 24px;
    font-weight: 600;
    color: var(--color_C90000);
}

.button_food_grid_off {
    width: 140px;
    height: 43px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--color_504F4F);
    border: none;
    margin-top: 40px;
}



.button_food_grid_off button {
    background-color: var(--color_504F4F);
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;

}

.button_food_grid_off img {
    margin-top: 1px;
}

#imj_food_if {
    margin-top: 33px;
    margin-left: -24px;
}

.grid_food_off:hover {
    width: 390px;
    height: 370px;
    transform: scale(1.0);
    background-color: var(--color_C90000);

    .text_combo h6 {
        color: var(--color_FFC300);
    }

    .price_off span {
        color: var(--color_FFC300);
    }

    .text_combo p {
        display: none;
    }

    .title_sm_item_food_off span {
        color: var(--color_E3E3E3);
    }

    .price_off dl {
        color: var(--color_FFFDE6);
    }

    .button_food_grid_off button {
        background-color: var(--color_FFFDE6);
        color: var(--color_323232);
        font-size: 18px;
    }

    .button_food_grid_off {
        background-color: var(--color_FFFDE6);
    }

    #food_img {
        color: var(--color_323232);
        background-color: #323232;
    }

}

.section_moblie_app {
    margin-top: 11rem;
    width: 1441px;
    height: 398px;
    background-color: #F1F1F1;
    border-radius: 0 500px 500px 0;
    display: grid;
    grid-template-columns: repeat(2, 32rem);
}

.img_section_moblie_app img {
    margin-top: -44px;

}

.content_section_mobile_app h6 {
    font-size: 20px;
    font-weight: 500;
    color: var(--color_7D7C7C);
    width: 275px;
    height: 30px;
    line-height: 100%;
    margin-top: 64px;
}

.content_section_mobile_app h4 {
    font-size: 58px;
    font-weight: 500;
    color: var(--color_C90000);
    width: 800px;
    height: 72px;
    line-height: 100%;
}

.content_section_mobile_app p {
    font-size: 16px;
    font-weight: 400;
    width: 621px;
    color: var(--color_323232);
    line-height: 24px;
}

.download_btn_app {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 21px;
    margin-top: 42px;

}

.section_search_location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 94rem;
    height: 398px;
    background-color: var(--color_323232);
    margin: auto;
    margin-top: auto;
    margin-top: 6rem;
    border: 0;
    border-radius: 20px;
}

.section_search_location h6 {
    color: var(--color_FFFDE6);
    font-size: 48px;
    font-weight: 500;
    line-height: 100%;
    height: 72px;
}

.section_search_location p {
    font-size: 16px;
    font-weight: 400;
    width: 406px;
    height: 30px;
    color: var(--color_FFFDE6);
}

.search {
    width: 613px;
    height: 73px;
    padding: 16px 24px 16px 24px;
    border-radius: 39px;
    display: flex;
    align-items: center;
    background: var(--color_FFC300);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.search input {
    border: none;
    padding: 15px 20px;
    border-radius: 40px;
    font-size: 16px;
    background: var(--color_FFC300);
    color: var(--color_323232);

}

.search button {
    border: none;
    padding: 10px 5px;
    border-radius: 40px;
    font-size: 16px;
    margin-left: 194px;
    cursor: pointer;
    transition: background 0.3s;
    width: 168px;
    height: 52px;

}

.section_search_location img {
    width: 212px;
    height: 173px;
    margin-left: -81rem;
    margin-top: -14rem;

}


.footer_section {
    display: grid;
    grid-template-columns: repeat(2, 722.5px);
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 66px;
    background: var(--color_FFFDE6);
    height: 318px;
}

.about_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 6rem;
    width: 439px;
    height: 114px;

}

.img_footer {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 300px;
}

.img_footer h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    width: 200px;
    height: 32px;

}

.link_footer {
    display: flex;
    align-items: center;
    gap: 32px;
    height: 34px;
    line-height: 40px;

}

.about_rigth {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 41px;

}

.usefl_link {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 15rem;
    gap: 9px;
}



.link {
    text-decoration: none;
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 300;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 15rem;
    gap: 9px;
    margin-top: -19px;

}

