* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
    padding-bottom: 8rem;
}

:root {
    --color_fff: #fff;
    --color_C90000: #C90000;
    --color_FFC300: #FFC300;
    --color_7D7C7C: #7D7C7C;
    --color_323232: #323232;
    --color_504F4F: #504F4F;
    --color_FFF6A3: #FFF6A3;
    --color_E3E3E3: #E3E3E3;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}

.header_fearstpage {
    margin-top: 1rem;
}

.container_site {
    max-width: 1170px;
    margin: 0 auto;
}

.navigation {
    display: grid;
    justify-content: center;
    grid-template-columns: 58px 635px 187px;
    justify-content: space-between;
    align-items: center;
}

.navigation img {
    width: 35px;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.navigation ul li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.navigation ul li:not(:first-child) a {
    color: var(--color_7D7C7C);
}

.navigation ul li a {
    font-weight: 400;
}

.link_navigation a {
    border: 1px solid var(--color_C90000);
    padding: 9px 16px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 16px;
}

.link_navigation a:not(:last-child) {
    color: var(--color_C90000);

}

.link_navigation a:not(:first-child) {
    background-color: var(--color_C90000);
    color: var(--color_fff);
}


.main_header {
    display: flex;
    align-content: center;

}

.container_left_header {
    align-self: flex-end;

}

.container_left_header h1 {
    font-weight: 600;
    font-size: 62px;
    color: var(--color_C90000);
    line-height: 76px;

}

.container_left_header p {
    color: var(--color_504F4F);
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;

}

.price {
    color: var(--color_323232);
    font-size: 26px;
    margin-top: 58px;

}

.price :not(:first-child) {
    font-size: 26px;
    font-weight: bolder;
}

.price :not(:last-child) {
    font-size: 19px;
    font-weight: lighter;
}

.number {
    display: flex;
    margin-top: 28px;
    gap: 64px;
}

.number_food {
    display: flex;
    align-items: center;
    border: 1px solid rgb(241, 241, 241);
    padding: 2px 25px;
    font-size: 29px;
    gap: 12px;
    border-radius: 100px;
    background: var(--color_fff);
    box-shadow: 0px 5px 17px -4px rgba(112, 112, 112);
    align-self: center;
}

.order {
    font-weight: 600;
    font-size: 24px;
    padding: 15px 30px;
    background-color: var(--color_FFC300);
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin: -4px;
}

.order:not(:last-child) {
    color: var(--color_323232);
}

.section_food {
    margin: 51px;
}

.title_section_food h4 {
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;

}

.line_button {
    width: 137px;
    height: 9px;
    background-color: var(--color_FFF6A3);
    position: absolute;
    z-index: -1;
    top: 44px;
}

.row_botton_category {
    display: flex;
    padding: 14px 2px;
    align-items: center;
    gap: 19px;
}

.row_botton_category button {
    border: 1px solid #e3e3e3;
    border-radius: 100px;
    height: 40px;
    width: 140px;
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
}

.item_food_grid{
    width: 300px;
    border: 1px solid var(--color_E3E3E3);
    border-radius: 12px;
}

